<div class="footer">
  <div>
      <h1>RideEase</h1>
  </div>
  <div>
      <p>Visit Help Center</p>
  </div>

  <div class="four-column">
      <div class="div-one">
          <h3>Company</h3>
          <ul>
              <li>About us</li>
              <li>Our offerings</li>
              <li>Newsroom</li>
              <li>Investors</li>
              <li>Blog</li>
              <li>Careers</li>
              <li>AI</li>
              <li>Gift cards</li>
          </ul>
      </div>
      <div class="div-two">
          <h3>Products</h3>
          <ul>
              <li>Ride</li>
              <li>Drive</li>
              <li>Deliver</li>
              <li>Eat</li>
              <li>RideEase for Business</li>
              <li>RideEase Freight</li>
          </ul>
      </div>
      <div class="div-three">
          <h3>Global citizenship</h3>
          <ul>
          <li>Safety</li>
          <li>Diversity and Inclusion</li>
          </ul>
      </div>
      <div class="div-four">
          <h3>Travel</h3>
          <ul>
              <li>Reserve</li>
          <li>Airports</li>
          <li>Cities</li>
          </ul>
      </div>
  </div>
</div>


<div class="div-logo">
  <div class="logo">
      <button class="log"><i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i></button>
      <button class="log"><i class="fa-brands fa-square-twitter" style="color: #ffffff;"></i></button>
      <button class="log"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></button>
      <button class="log"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></button>
      <button class="log"><i class="fa-brands fa-square-instagram" style="color: #ffffff;"></i></button>
      
  </div> 
  <div class="location">
      <button><i class="fa-solid fa-globe" style="color: #ffffff;"></i>English</button>
      <button><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>Delhi NCR</button>
  </div>
</div>

<div class="download-way">
  <img class="android" src="/images/android.svg" alt="Android img">
  <img class="apple" src="/images/apple.svg" alt="apple img">
  <div class="last-div">
      <div class="divvvleft">
          <p>© 2023 RideEase Technologies Inc.</p>
      </div>
      <div class="divvvright">
          <a href="#"><p>Privacy</p></a>
          <a href="#"><p>Accessibility</p></a>
          <a href="#"><p>Terms</p></a>
      </div>
  </div>
</div>






<!-- locomtive js for smmoth scrolling -->
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

<!-- gsap for animation  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- aos data for animation when scrolling  -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<script src="/js/loginSignup.js"></script>
<script src="/js/home_jsFile.js" defer></script>
</body>

</html>