<%- include('./partials/header.ejs')%>
    <link rel="stylesheet" href="/css/driverSignup.css">


    <!-- signup code for driver  -->
    <div class="overlay-driver"></div>
    <div class="wrapper-driver">
        <span class="icon-close-driver" id="icon-close-driver">&times;</span>
        <div class="form-box-driver register-driver">
            <h2>Sign up</h2>
            <form action="/driverSignup" method="post" id="form" enctype="multipart/form-data" >
                <div class="first-last-name">
                    <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-regular fa-user"></i></i></span>
                        <input type="text" name="FName" id="fname" autocomplete="off" required>
                        <label for="">First Name</label>
                        <small>error msg</small>
                    </div>

                    <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-regular fa-user"></i></i></span>
                        <input type="text" name="LName" id="lname" autocomplete="off" required>
                        <label for="">Last Name</label>
                        <small>error msg</small>
                    </div>
                </div>

                <div class="username-email">
                    <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-solid fa-user"></i></span>
                        <input type="text" name="UserName" id="username" autocomplete="off" required>
                        <label for="">Username</label>
                        <small>error msg</small>
                    </div>
                    <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" name="email" id="email1" required>
                        <label id="email-driver">Email</label>
                        <small>error msg</small>
                    </div>
                </div>

                <div class="phone-license">
                    <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-solid fa-phone"></i></span>
                        <input type="number" name="CNumber" id="cnumber" required>
                        <label for="">Contact Number</label>
                        <small>error msg</small>
                    </div>
                    <!-- <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-solid fa-id-card"></i></i></span>
                        <input type="text" name="LNumber" id="lnumber" required>
                        <label for="">Licence ID</label>
                        <small>error msg</small>
                    </div> -->
                    <div class="input-box-driver">
                        <input type="file" name="ProfileImage" id="ProfileImage" required>
                        <small>error msg</small>
                    </div>
                </div>

                <div class="password-confirmpass">
                    <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-solid fa-eye-slash" id="eyeicon2"></i></span>
                        <input type="password" name="Password" id="password2" required>
                        <label for="">password</label>
                        <small>error msg</small>
                    </div>
                    <div class="input-box-driver">
                        <span class="icon-driver"><i class="fa-solid fa-eye-slash" id="eyeicon3"></i></span>
                        <input type="password" name="CPassword" id="password3" required>
                        <label for="">Confirm password</label>
                        <small>error msg</small>
                    </div>
                </div>
                <button type="submit" class="btn-driver">Sign up</button>
                <div class="login-register-driver">
                    <p>Already have an account ?
                        <a href="/driverSignin" class="login-link-driver">Login</a>
                    </p>
                </div>
            </form>
        </div>

    </div>
    <script src="/js/driverSignup.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>