<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/css/go.css">

    <div class="complete-main-div">
        <div class="left-scroll-div">
            <h1>Choose a ride</h1>
            <div class="sourse-plus-dest">
                <span>Jamia Millia Islamia 2 Metro Station Jamia Millia Islamia</span>
                <i class='fas fa-arrow-right' style='font-size:15px'></i>
                <span>Sector 62A</span>
                <p>Leave Now</p>
            </div>
            <h2>Recommended</h2>
            <div class="Recommended-share">
                <div class="bk">
                    <img src="/images/Uber_Moto_India1.png" alt="">
                </div>
                <div class="bk-content">
                    <span>
                        <p>BikeShare</p>
                    </span>
                    <p>4 mins away</p>
                    <p>Affordable, motorcycle rides</p>
                </div>
                <div class="bk-price">₹80.25</div>
            </div>


            <div class="Recommended-share">
                <div class="bk">
                    <img src="/images/UberGo_v1.png" alt="">
                </div>
                <div class="bk-content">
                    <span>
                        <p>RideEaseGo</p>
                    </span>
                    <p>6 mins away</p>
                    <p>Affordable, compact rides</p>
                </div>
                <div class="bk-price">₹104.25</div>
            </div>

            <div class="Recommended-share">
                <div class="bk">
                    <img src="/images/Select_v1.png" alt="">
                </div>
                <div class="bk-content">
                    <span>
                        <p>GoSedan</p>
                    </span>
                    <p>5 mins away</p>
                    <p>Affordable, sedan rides</p>
                </div>
                <div class="bk-price">₹123.75</div>
            </div>
            <h2>Economy</h2>
            <div class="Recommended-share">
                <div class="bk">
                    <img src="/images/package_UberComfort_new_2022.png" alt="">
                </div>
                <div class="bk-content">
                    <span>
                        <p>Premier</p>
                    </span>
                    <p>5 mins away</p>
                    <p>Comfortable sedans, top-quality drivers</p>
                </div>
                <div class="bk-price">₹123.75</div>
            </div>


            <div class="Recommended-share">
                <div class="bk">
                    <img src="/images/package_UberXL_new_2022.png" alt="">
                </div>
                <div class="bk-content">
                    <span>
                        <p>RideEaseXL</p>
                    </span>
                    <p>7 mins away</p>
                    <p>Affordable, SUV rides</p>
                </div>
                <div class="bk-price">₹123.75</div>
            </div>
        </div>

        <div class="req-ride">
            <div class="pay-method">
                <img src="/images/cash_3x.png" alt="">
                <span>cash <i class="fa-solid fa-angle-down fa-2xs" style="color: #000000;"></i></span>

            </div>
            <div class="req-btn">
                <button>Request RideEase</button>
            </div>
        </div>

        <div class="right-div-map">
            <div class="map-area">
                <div class="map">
                    <img src="/images/india map.jpg" alt="">
                </div>
            </div>
        </div>


    </div>