<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="/css/signin-signup-ride.css">
    <!-- <input type="button" value="Close" onclick="window.close()" / -->

    <div class="whole-div">
        <button class="close-btn"  id="close-logindiv">&times;</button> <!--  cross sign   -->

        <div class="mainnn">
            <a href="/rideSignup"   class="ridesignup">
                <div class="mainLeft" id="popup-drive">
                    <div class="ml1">
                        <h1 >Sign up to ride</h1>
                    </div>
                    <div class="mr1">
                        <i class='fas fa-arrow-right' style='font-size:40px'></i>
                    </div>
                </div>
            </a>

            <a href="/rideSignin"  class="ridesignin">
                <div class="mainRight" id="popup-ride">
                    <div class="ml1">
                        <h1>Sign in to ride</h1>
                    </div>
                    <div class="mr1">
                        <i class='fas fa-arrow-right' style='font-size:40px'></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

   
    <script src="/js/signin-signup-ride.js"></script>
 

   
